{% extends 'baseDashboards.html' %}

{% block body %}
    <html>
    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {'packages': ['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {

                var data = google.visualization.arrayToDataTable([
                    ['Datum', 'Aantal gebrande uren'],
                    ['{{ Datum[0]|string }}', {{ Licht[0] }}],
                    ['{{ Datum[1]|string }}', {{ Licht[1] }}],
                    ['{{ Datum[2]|string }}', {{ Licht[2] }}]
                ]);

                var options = {
                    title: 'Lichten ',
                    curveType: 'function',
                    legend: {position: 'bottom'}
                };

                var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

                chart.draw(data, options);
            }
        </script>
    </head>
   <body>
        <a href="{{ url_for('stats') }}"><div class="statsButton1">Temperatuur</div></a></input>

        <a href="{{ url_for('statsLicht') }}"><div class="statsButton2">Lichten</div></a></input>

        <a href="{{ url_for('statsDeur' )}}"><div class="statsButton3">Deuren</div></a></input>

    <div id="curve_chart" style="width: auto; height: 500px"></div>
    </body>
    </html>

{% endblock %}